<div class="skip-links">
  <a href="#main">Contenu principal</a>
</div>
{% for page in site.html_pages %}
  {% if page.navigation %}
    {% assign loopindex = loopindex | plus: 1 %}
  {% endif %}
{% endfor %}

{% if page.background %}
  {% assign src = page.background %}
{% else %}
  {% assign src = "banner.jpg" %}
{% endif %}

{% for static_file in site.static_files%}
    {% assign smallpath = src | prepend: '/small/' %}
    {% assign mediumpath = src | prepend: '/medium/' %}
    {% assign largepath = src | prepend: '/large/' %}
    {% if static_file.path contains smallpath %}
        {% assign small = true %}
    {% endif %}
    {% if static_file.path contains mediumpath %}
        {% assign medium = true %}
    {% endif %}
    {% if static_file.path contains largepath %}
        {% assign large = true %}
    {% endif %}
{% endfor %}

<header class="site-header" role="banner">
  <img src="{% if small %}{{ site.baseurl }}/images/small/{{ src }}{% else %}{{ site.baseurl }}/gallery/banners/{{ src }}{% endif %}" alt="{{ page.title }}" class="site-header-background b-lazy" {% if large %}data-src="{{ site.baseurl }}/images/large/{{ src }}"{% endif %} />
  <div class="wrapper">

    <div class="site-logo">
      <p class="site-title">{{ page.title }}</p>
      <p class="site-slogan">{{ page.description }}</p>
    </div>

    {% include navigation.html %}

  </div>

</header>
