<div class="skip-links">
  <a href="#main">Contenu principal</a>
</div>
{% for page in site.html_pages %}
  {% if page.navigation %}
    {% assign loopindex = loopindex | plus: 1 %}
  {% endif %}
{% endfor %}

{% if page.background %}
  {% assign src = page.background %}
{% else %}
  {% assign src = "banner.jpg" %}
  {% capture img-bg %}
    <img src="{{ site.baseurl }}/images/small/{{ src }}" alt="{{ page.title }}" class="site-header-background b-lazy" data-src="{{ site.baseurl }}{{ /images/large/src }}" />
  {% endcapture %}
{% endif %}


<header class="site-header" role="banner">
  {{ img-bg }}
  <div class="wrapper">

    <div class="site-logo">
      <p class="site-title">{{ page.title }}</p>
      <p class="site-slogan">{{ page.description }}</p>
    </div>

    {% include navigation.html %}

  </div>

</header>
