@mixin sassy-button {
  box-sizing: border-box;

  cursor: pointer;
  
  display: inline-block;
  padding: $base-line/2 $base-line*2;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  font-size: 110%;
  letter-spacing: 2px;
  text-decoration: none;
  color: #fff;
  transition: background .15s;
  border-radius: .15em;
    
  &:hover,&:active,&:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
  }

  &:disabled {
    color: darken($sassy-disabled-color, 30%);
    background-color: $sassy-disabled-color;
    cursor: not-allowed;

    &:hover, &:focus {
      box-shadow: none;
    }
  }
}
