$luxbar-height: 58px;
$luxbar-breakpoint: 768px;
$luxbar-padding: 18px 24px 9px 24px;
$luxbar-transition: .6s ease;
$hamburger-line-height: 2px;
$hamburger-width: 26px;
$luxbar-shadow: none;
$luxbar-css-prefix: 'luxbar' !default;
