---
layout: default
---

<div class="wrapper">
  {{ content }}
</div>

{% if page.slug %}
<div class="gallery gallery-list">
<div class="wrapper">

{% assign images = site.data.gallery | where: "slug", page.slug %}
{% assign images_gallery = images | group_by: "subpage" %}
{% assign count = 0 %}

{% for image_group in images_gallery  %}

{% for image in image_group.items %}
    {% if image.slug contains page.slug %}
      {% assign count = 1 %}
    {% endif %}
{% endfor %}

{% if count == 1 %}
<h2>{{ image_group.name }}</h2>
<div class="grid">
{% for image in image_group.items %}
  {% if image.lang contains page.lang %}
  {% if image.slug contains page.slug %}
  {% assign src = image.filename | append: '.jpg' %}
  {% assign data-src = image.item-path-principal | first | uri_escape | prepend:'/' %}
  {% for static_file in site.static_files%}
    {% assign smallpath = static_file.name | prepend: '/small/' %}
    {% assign smallpath = static_file.name | prepend: '/medium/' %}
    {% assign smallpath = static_file.name | prepend: '/large/' %}
    {% if static_file.path == smallpath %}
        {% assign small = true %}
    {% endif %}
    {% if static_file.path contains static_file.name %}
        {% assign medium = true %}
    {% endif %}
    {% if static_file.path contains static_file.name%}
        {% assign large = true %}
    {% endif %}
  {% endfor %}
      <a href="/{{ image.permalink }}">
        <img src="{% if small %}/images/small/{{ src }}{% else %}{{ data-src }}{% endif %}" srcset="{% if small %}/images/small/{{ src }} 320w,{% endif %}{% if medium %} /images/medium/{{ src }} 640w,{% endif %}{% if large %} /images/large/{{ src }} 1024w,{% endif %}{{ data-src }} 1920w" sizes="(min-width: 80em) 10em, (min-width:50em) 40em, (min-width:20em) 20em, 100vw" alt= "{{ image.slug }}" />
      </a>
  {% endif %}
  {% endif %}
{% endfor %}
</div>
{% endif %}
{% endfor %}
</div>
</div>
{% endif %}